@model IEnumerable<App_Data.ViewModel.ProductDetailViewModel>

@{
    ViewData["Title"] = "ShowListProductDetail";
}

<h1>ShowListProductDetail</h1>

<p>
    <a asp-action="CreateSpDetail">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTriSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CongNgheManHinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaoHanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoPhanGiai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaSanXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySanXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiKhuyenMai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTriSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CongNgheManHinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaoHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoPhanGiai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiKhuyenMai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
