@model IEnumerable<App_Data.Model.ProductDetail>

@{
    ViewData["Title"] = "ShowListProductDetail";
}

<h1>ShowListProductDetail</h1>

<p>
    <a asp-action="CreateSpDetail">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Idproduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idcolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idsize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CongNgheManHinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaoHanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoPhanGiai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaSanXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySanXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiKhuyenMai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @foreach (var product in ViewBag.ProductList as SelectList)
                 {
                  if (product.Value == item.Idproduct.ToString())
                  {
                      @product.Text
                   }
                 }
            </td>
            <td>
                @foreach (var color in ViewBag.ColorList as SelectList)
                 {
                  if (color.Value == item.Idcolor.ToString())
                  {
                      @color.Text
                   }
                 }
            </td>
            <td>
                @foreach (var size in ViewBag.SizeList as SelectList)
                 {
                  if (size.Value == item.Idsize.ToString())
                  {
                      @size.Text
                   }
                 }
            </td>
            <td>
                @foreach (var sale in ViewBag.SaleList as SelectList)
                 {
                  if (sale.Value == item.IdSale.ToString())
                  {
                      @sale.Text
                   }
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CongNgheManHinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaoHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoPhanGiai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiKhuyenMai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
