@model IEnumerable<App_Data.Model.ChucVu>

@{
    ViewData["Title"] = "ShowListChucVu";
}

<h1>ShowListChucVu</h1>

<p>
    <a asp-action="CreateChucVu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaChucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenChucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChucVu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
